body{
    background-color: black;
}

#container{
  width: 100%;
  height: 100%;
  position: absolute;
}

 .frame {
  position: absolute;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 20px;
  width: 100%;
  height: 100%;
} 

.frame iframe {
  position: absolute;
  top: 0;
  left: 200px;
  width: 20%;
  height: 20%;
}

