body{
    background-color: #5c4cfb;
}

.container {
 /*background-color: #ffefd5;*/
 position: relative;
 left: 1vw; 
 width: 50vw;
 height: 50vh;
 font-size: 3vw;
 font-family: sans-serif;
 color: white; 
}

.frame { 
 position: absolute;
 height: 30vh;
 top: 10vh;
 margin-left: 10vw;
 display: flex;
} 

iframe {
 height: auto;
 width: auto;
}

